a
{
    text-align: center; 
    color: red;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    
}

.h1
{
    text-align: center;
    color: sienna;
    font-weight: bold;
}

.img
{
    border: sienna solid 8px;
}

.justify
        {
            text-align: justify;
            border: seagreen solid 10px;
            padding: 10px;
            text-shadow: rgb(153, 20, 20);
        }
    